﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="row">
        <h1 class="title">Dr. Joey - Christchurch Identity</h1>
    </div>

    <div class="row">
        <div id="nodata" style="display: none;">(No data yet)</div>
        <canvas id="chart" width="800" height="400"></canvas>
    </div>

    <div class="row well">
        <div class="col-md-6">

            <h3>Upload the survey CSV</h3>
            <form method="post" asp-action="ProcessFile" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" name="file" />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
        <div class="col-md-6">
            <h3>How are you feeling about Christchurch?</h3>
            <form method="post" asp-action="ProcessString">
                <div class="form-group">
                    <textarea name="message" class="form-control"></textarea>
                    <!--<div>
                        <label>Fudged response: <input name="fudgedTone" type="text" /></label>
                    </div>-->
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

@section head {
    <style type="text/css">

        #chart {
            padding: 30px;
        }

    </style>
}
@section footer {

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.0/Chart.js"></script>
<script type="text/javascript">

    function getRadarData(data)
    {
        // Expected data format:
        // [ {"tone":"Angry","count":3}, {"tone":"Happy","count":1}, {"tone":"Sad","count":2} ]

        var chartLabels = [];
        var chartData = [];

        $.each(data, function (index, element) {
            chartLabels.push(element["tone"]);
            chartData.push(element["count"]);
        });

        // Prompt if no data
        if (chartData.length > 0) {
            $("#nodata").hide();
        } else {
            $("#nodata").show();
        }

        return {
            labels: chartLabels,
            datasets: [
                {
                    label: "Tone",
                    backgroundColor: "rgba(30, 144, 255,0.2)",
                    borderColor: "rgba(30, 144, 255,1)",
                    pointBackgroundColor: "rgba(30, 144, 255,1)",
                    pointBorderColor: "rgba(30, 144, 255,1)",
                    pointHoverBackgroundColor: "#fff",
                    pointHoverBorderColor: "rgba(30, 144, 255,1)",
                    data: chartData
                }
            ]
        };
    }

    function displayGraph(data)
    {
        var ctx = document.getElementById("chart").getContext("2d");
        console.log('context', ctx);

        var radarData = getRadarData(data);
        console.log('chart data', radarData);

        // Create the Radar Chart
        var myRadarChart = new Chart(ctx, {
            type: 'radar',
            data: radarData,
            options: {
                responsive: true,
                legend: {
                    display: false
                },
                animation: {
                    duration: 1500,
                    easing: 'easeInOutQuart'
                },
                scale: {
                    pointLabels: {
                        fontSize: 20
                    },
                    ticks: {
                        beginAtZero: true,
                        display: false
                    }
                },
                maintainAspectRatio: false,
                elements: {
                    line: {
                        tension: 0,
                    }
                }
            }
        });

    }

    (function init() {

        // Load graph data from our api into the graph canvas
        $.getJSON("graph/stats", function (data) {
            displayGraph(data);
        });

    })();

</script>

}